<%- include('global/header', {title: data.title}); %>
<%- include('global/navbar', {posts: data2}); %>
<div class="container" id="blog">
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h1 id="blog"><%= data.title %></h1>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h4> By <%= data.user %></h4>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5><%= data.date %></h5>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5> Tags: <%= data.tags %></h5>
    </div>
  </div>
  <br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <img src=<%= data.image %> style="width:300px;height:300px;">
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5><%= data.descrip %></h5>
    </div>
  </div>
  <br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <p><%= data.content %></p>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <p><%= data.content2 %></p>
    </div>
  </div>

  <br><br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h2>Feedback </h2>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">

      <p>Let us know your thoughts!</p>
    </div>
  </div>
  <div class="row" id="blog">
    <form>
      <div class="col" id="blog">

      <div class="form-group" id="blog">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com">
        <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
      </div>
    </div>
    <div class="col" id="blog">

      <div class="form-group" id="blog">
        <label for="exampleFormControlTextarea1">Your thoughts:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
</div>
<br><br>
<%- include('global/footer'); %>
