<%- include('partials/header', {title: data.title}); %>
<%- include('partials/navbar', {posts: data2}); %>
<div class="container" id="blog">
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h1 id="blog"><%= data.title %></h1>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h4> By <%= data.user %></h4>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5><%= data.date %></h5>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5> Tags: <%= data.tags %></h5>
    </div>
  </div>
  <br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5><%= data.descrip %></h5>
    </div>
  </div>
  <br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <p><%= data.content %></p>
    </div>
  </div>
  <br><br><br>
  <div id="comments">
    <h3>Read some of our authors' opinions below! </h3>
    <% if(data.comments){ %>
    <% for(let i=0; i<data.comments.length; i++){%>
    <div class="row" id="comment #<%-i%>">
      <div>
        <h4><%= data.comments[i].user + " at this time " +data.comments[i].date; %></h4>
        <p><%= data.comments[i].content; %></p>
      </div>
      <div class="col">
        <h3>Likes <span class="likes" id="like_count #<%-i%>"><%=data.comments[i].likes%></span> <button id="like_button #<%-i%>" type="button">Like</button></h3>
      </div>
    </div>
    <%}%>
        <%}%>
  </div>
  <br><br><br>
  <h4> Any comments? </h4>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div>
        <form>
          <label for="name">Author</label>
          <select id="user_comment" name="author">
            <% for(let i = 0; i < authors.length; i++){ %>
            <option value="<%-authors[i]%>"><%-authors[i]%></option>
            <%}%>
              </select><br><br>
            <label for="comment">Comment</label>
              <input type="text" id="content_comment" name="comment"><br><br>
            <button id="comment_button" type="reset">Submit</button>
          </form>
        </div>
      </div>
    </div>
<script src="../js/blogdetails_scripts.js"></script>
<%- include('partials/footer'); %>
