<!--
Michael Ding Interest page, index.ejs
Avatar and Korra: Is the Sequel Overrated?
Topics – Computer Science
Mr. Gohde
November 20, 2020
-->

<%- include('global/header', {title: "Home"}); %>
<%- include('global/navbar', {posts: data}); %>

<div class="container">

  <div class="row">
    <h4>Hi! If you couldn't tell, I'm a huge Avatar fan. I'm here to argue that Korra is not only just as good as the original, but better.</h4>
  </div>
  <br>
  <div class="row">
      <h2 class="media"> Media </h2>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <img class="special" src="images/ATLAxLOK.jpg" alt="AvatarxLOK" style="width:325px;height:300px;">
    </div>
    <div class="col">
      <img src="images/iroh.jpg" alt="iroh" style="width:325px; height:275px;">
      <audio controls>
        <source src="images/LeavesfromtheVine.mp3" type="audio/mpeg" style="width:100px;height:100px;">
      </audio>
    </div>
    <div class="col">
      <iframe src="https://www.youtube.com/embed/zTFYmgzlDSw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:325px;height:300px;"></iframe>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      The main characters of Avatar, and how they have look decades later in Korra!
    </div>
    <div class="col">
      A beautiful audio sample of Leaves from the Vine by Uncle Iroh.
    </div>
    <div class="col">
      A YouTube video comparing the original with the sequel.
    </div>
  </div>
  <br> <br>
  <div class="row">
      <h2 class="posts"> Blog Posts! </h2>
  </div>
  <div class="row">
    <% data.forEach(function(post){%>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=<%=post.image%> style="width:300px;height:350px;" alt="Card image cap">
        <% let filename = post.title.replace(/ /g, "_"); %>
        <div class="card-body">
          <h5 class="card-title" ><%=post.title%></h5>
          <p class="card-text"><%=post.descrip%></p>
          <a href="<%=filename%>.html" class="btn btn-primary">Post</a>
        </div>
      </div>
    </div>
    <%})%>
  </div>
</div>
<br><br><br>

<%- include ('global/footer'); %>
