<%-include('../partials/header')-%>
<%-include('../partials/navbar' )-%>


<h1>The User</h1>
<br>
<h2>Update <%= user.name %></h2>

<form action="/user/<%= user.id%>?_method=PUT" method="POST">
<ol>
<% Object.keys(user).forEach(function(key){ %>
	<li><%=key%>: <input type="text" name="<%=key%>" value="<%= user[key] %>">
	</li>
<% }); %>
</ol>
	<button>Update User</button>
</form>


<%-include('../partials/footer')-%>
