<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>
<div class="container" id="user">
  <div class="row" id="user">
    <div class="col" id="user">
      <h1 id="user"><%= user.id %></h1>
    </div>
  </div>
  <div class="row" id="user">
    <div class="col" id="user">
      <h4> User: <%= user.name %></h4>
    </div>
  </div>
  <br>
  <div class="row" id="user">
    <div class="col" id="user">
      <h5><%= user.bio %></h5>
    </div>
  </div>
  <br>

<%- include('../partials/footer'); %>
