<!DOCTYPE html>
<%- include('../partials/header'); %>
<%-include('../partials/navbar', {posts:data} )-%>

<h1>Create Blog</h1>

<form action="/blog"  method="post">
  <label for="author">Author:</label><br>
   <select id="author" name="author" required>
               <% for(let i = 0; i < authors.length; i++){ %>
                 <option value="<%-authors[i]%>"><%-authors[i]%></option>
               <%}%>
             </select> <br>

   <label for="title">Title:</label><br>
   <input type="text" id="title" name="title" required><br>

   <label for="tags">Tags: (Separate each tag with a space)</label><br>
   <input type="text" id="tags" name="tags" required><br>

   <label for="content">Content:</label><br>
   <textarea type="text" id="content" name="content" required></textarea><br>

   <label for="descrip">Description (brief):</label><br>
   <textarea type="text" id="descrip" name="descrip" required></textarea><br>

    <input type="submit" value="Submit">
</form>
<%- include('../partials/footer'); %>
