<!DOCTYPE html>
<%- include('../partials/header'); %>
<%-include('../partials/navbar')-%>

<h1>Create Blog</h1>

<form action="/blogs" method="post">
  <label for="name">Name:</label><br>
  <select id="name" name="name" required>
    <% for(let i = 0; i < authors.length; i++){ %>
    <option value="<%-authors[i]%>"><%-authors[i]%></option>
    <%}%>
             </select> <br>

   <label for="id">enter a five digit ID number:</label><br>
   <input type="text" id="id" name="id" required><br>

   <label for="title">Title:</label><br>
   <input type="text" id="title" name="title" required><br>

   <label for="subtitle">Subtitle:</label><br>
   <input type="text" id="subtitle" name="subtitle" required><br>

   <label for="Date">Date:</label><br>
   <input type="text" id="Date" name="Date" required><br>

   <label for="descrip">Description (brief):</label><br>
   <textarea type="text" id="description" name="description" required></textarea><br>

   <label for="text">Content:</label><br>
   <textarea type="text" id="text" name="text" required></textarea><br>



    <input type="submit" value="Submit">
</form>
<%- include('../partials/footer'); %>
