<!DOCTYPE html>
<%- include('../partials/header'); %>
<%-include('../partials/navbar')-%>

<h1>Create New Quiz</h1>

<form action="/quizzes" method="post">
  <label for="author">Author:</label><br>
  <select id="author" name="author" required>
    <% for(let i = 0; i < authors.length; i++){ %>
    <option value="<%-authors[i]%>"><%-authors[i]%></option>
    <%}%>
             </select> <br>

   <label for="id">enter a five digit ID number:</label><br>
   <input type="text" id="id" name="id" required><br>

   <label for="title">Title:</label><br>
   <input type="text" id="title" name="title" required><br>

   <label for="Date">Date:</label><br>
   <input type="text" id="Date" name="Date" required><br>

   <label for="descrip">Description:</label><br>
   <textarea type="text" id="description" name="description" required></textarea><br>

   <label for="questions">questions:</label><br>
   <textarea type="text" id="questions" name="questions" required></textarea><br>

   <label for="answers">answers:</label><br>
   <textarea type="text" id="answers" name="answers" required></textarea><br>

    <input type="submit" value="Submit">
</form>
<%- include('../partials/footer'); %>
