<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>
<div class="container" id="blog">
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h1 id="blog"><%= quiz.title %></h1>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h1 id="blog">By <%= quiz.author %></h1>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5><%= quiz.Date %></h5>
    </div>
  </div>
  <br><br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5>Description: <%= quiz.description %></h5>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h4>Questions (see how many you get right!)</h5>
    </div>
  </div>
  <br><br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5><%= quiz.questions %></h5>
    </div>
  </div>
  <br><br><br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h6>Scroll down for the answers!</h6>
    </div>
  </div>
  <div class="row" id="blog">
    <div class="col" id="blog">

   <img src="../images/wallpaper.jpg" style="width:800px;height:600px;">
 </div>
  </div>
  <br><br><br><br><br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5>Answers:</h5>
    </div>
  </div>
  <br><br>
  <div class="row" id="blog">
    <div class="col" id="blog">
      <h5><%= quiz.answers %></h5>
    </div>
  </div>
  <br>
  <br>

<script src="../js/blogdetails_scripts.js"></script>
<%- include('../partials/footer'); %>
